.ss-form{	
	border: 4px dashed #c83891;
	border-radius: 10px;
	background: white;
    width: 400px;	
    position: fixed;
	top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	padding: 10px 30px 50px;	
	overflow: hidden;
    z-index: 10000;
	font-size: 14px;
}

#ss-form-wrapper{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: black;
    opacity: 0.7;
	display: none;
}

.ss-form * {
	float:left;
	margin: 2px 10px 20px 5px;
	
}

.ss-form option{
	float:none;
	margin: 2px;
}

.ss-form label, .ss-form input, .ss-form select, .ss-form textarea{
	width: 45%;
}

.ss-form input[type="submit"]{
	position: absolute;
	bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;	
}

.ss-form .style-h2{
	float: none;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #c83891;
}

.ss-form svg{
	width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;	
	cursor: pointer;
}

.ss-form .success, .ss-form .error{
	float:none;
	text-align: center;
	padding: 10px;
}

.ss-form .success{
	border: 1px solid green;
	display: none;
	color: green;	
}

.ss-form .error{
	border: 1px solid red;
	display: none;
	color: red;	
}